.hm-services {
  background-color: $color__background-main;
  padding-top: 80px;
  padding-bottom: 89px;

  &__top {
    margin-bottom: 12px;

    h2 {
      margin-bottom: 24px;
    }

    &-paragraph {
      max-width: 1056px;
      margin-bottom: 36px;
    }
  }

  &__middle {
    &-body {
      position: relative;
      list-style-type: none;
      margin: 0;
      padding: 0;

      &:hover {
        li:not(:hover) {
          border-bottom: 1px solid $color___border_main_opaque;

          &:first-of-type {
            border-top: 1px solid $color___border_main_opaque;
          }

          h3 {
            opacity: 0.5;
          }
        }

        li:hover {
          .service-image {
            img {
              opacity: 1;
            }
          }
        }
      }

      li {
        border-bottom: 1px solid $color___border_main;

        &:first-of-type {
          border-top: 1px solid $color___border_main;
        }

        h3 {
          margin: 0;
          padding: 24px 0;
        }

        .service-image {
          position: absolute;
          top: 31px;
          right: 33px;

          img {
            opacity: 0;
            transition: opacity 0.3s;
            pointer-events: none;
          }
        }

      }
    }
  }
}