$black: #000;
$white: #fff;
$color__button-cta: #A88855;
$color__button-cta_opaque: rgba(168, 136, 85, .9);
$color__background-main: #F8F7F3;
$color___border_main: #1E1E1E;
$color___border_main_opaque: rgba(30,30,30,.5);